<h1>Officer Incident Database</h1> 
<div class="apple_pagination">
    <%= will_paginate @polce, :container => false %>
  </div>
<div>
  <table class="font-size table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Name: </th>
        <th scope="col">Badge Number: </th>
        <th scope="col">Date Hired: </th>
        <th class="padding-for-col col">Number of Administrative Complaints</th>
        <th scope="col">Number of Citizen Complaints</th>
        <th scope="col">Use of Force Incidents</th>
        <th scope="col">Complaint File</th>
      </tr>
    </theadd>
    <tbody>
      <% @police.each do |police| %>
      <tr scope="row">
      
        <td><%= link_to police.name, police_path(police) %></td>
        <td> <%= police.badge_number %> </td>
        <td> <%= police.date_hired %> </td>
        <td class="padding-for-col">  <%= police.num_of_admin_complaints %> </td>
        <td> <%= police.num_of_citizen_complaints %> </td>
        <td> <%= police.use_of_force_incidents %> </td>
        <td> <%= link_to police.complaint_link, target: '_blank' %> </td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
  <button><%= link_to "Home", home_index_path %></button>
  
  <div class="apple_pagination">
    <%= will_paginate @polce, :container => false %>
  </div>
</div>