<h1>Officer Details<h1>
<div class="card text-center">
  <div class="card-header">
    <p>Name: <%= @police.name %></p>
  <div class="card-body">  
    <p>Badge Number: <%= @police.badge_number %></p>
    <p>Date Hired: <%= @police.date_hired %></p>
    <p>Number of Administrative Complaints: <%= @police.num_of_admin_complaints %></p>
    <p>Number of Citizens Complaints: <%= @police.num_of_citizen_complaints %></p>
    <p>Number of Use of Force Incidents <%= @police.use_of_force_incidents %> </p>
    <p>Police Complaint File <%= @police.complaint_link %></p>
  </div> 
  </div>
</div>
<button btn btn-success>Back<% link_to police_index_path %></button> 