<h1>Officer Details<h1>
<div class="card text-center">
  <div class="card-header">
    <p>Name: <%= @police.name %></p>
  <div class="card-body">  
    <p>Badge Number: <%= @police.badge_number %></p>
    <p>Date Hired: <%= @police.date_hired %></p>
    <p>Number of Administrative Complaints: <%= @police.num_of_admin_complaints %></p>
    <p>Number of Citizens Complaints: <%= @police.num_of_citizen_complaints %></p>
  </div>  
  </div>
</div>