<div id="page-content">
  <div class="container" id="home-container">
    <div class=jumbotron text-center text-yellow>
      <h1 class="display-4">BadgeWatch</h1>
      <%= image_tag ("badge_watch.png") %>
      <h3>Get Started</h3>
      <p><small>Sign up for a new account, enter your email & get started.</small></p>
      <ul>
        <li>
          <% if current_user %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Police Lookup', police_index_path %>
        </li>
      </ul>
    <% end %>
    </div>
  </div>
</div>


<footer id="sticky-footer" class="py-4 text-white">
  <div class="container text-center">
    <small>Copyright &copy;
    <%= link_to "Code for South Florida", 
    "https://codeforsouth.com/", class: "text-white" %>
    </small>
  </div>
</footer>