
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "BadgeWatch", root_path, class: "navbar_brand", id: "logo" %>    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link", class: "sr-only" %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to "Police Incidents", police_index_path %></a>
      </li>
      <li class="nav-item dropdown">
        
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= link_to "New Video", livestream_index_path %>
    </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Upload Video/Picture</a>
          <a class="dropdown-item" href="#">Upload Images</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add Text</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Dashboard</a>
      </li>
    </ul>
    <div class="search" name="query">

    <%= form_tag search_police_path, method: :get do %>
      <div class="form-group row">
        <div class="col-sm-9 no-right-padding">
          <%= text_field_tag :search, params[:search], placeholder: "Police Database Lookup", 
          autofocus: "true", class: "form-control form-control-lg" %>
          
        </div>
        <div class="col-sm-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon 'search 2x' %>
          <% end %>
        
        </div>
      </div>
      <% end %>
    </div>
  </div>
</nav>
    
  